<ion-view cache-view="false" ng-controller="DashCtrl">
    <ion-content scroll="false">
        <img src="img/Logga.svg" class="uniaden-logo"/>


            <ion-content scroll="false">
              <ion-slide-page>
                <div class="header-item item-avatar dashboardItem instagram-container" type="item-text-wrap">
                    <img src="img/instagram.jpg"  onclick="window.open('https://www.instagram.com/uniaden/, ‘_blank’, ‘location=no’);"/>
                    <p style="font-size: 25px" onclick="window.open('https://www.instagram.com/uniaden/, ‘_blank’, ‘location=no’);">
                      <br /> #uniaden18
                    </p>
                </div>
               </ion-slide-page>
             </ion-content>


                            <!-- Slider på toppen av appen som uppmärksammmar användaren om vad som är nytt-->
                            <!--   <ion-content scroll="false">
            <ion-slide-page>
                <div class="item-avatar dashboardItem" type="item-text-wrap">
                    <img src="img/snapchat.jpg" />
                    <i class="icon icon-accessory"></i>
                    <p>
                        Visste du att vi har ett snapchat-filter för
                        Uniaden2018? Dela evenemanget med #Uniaden2018.
                    </p>
                </div>
            </ion-slide-page>
        </ion-content> -->


            <ion-list class="start-menu-buttons-container" style="margin-bottom:20px;">
              <!--
  Nedan är de tre knapparna på startsidan
  ng-click öppnar respektive modal som just nu är hårdkodade.
  PROTIP: Gör en rss-feed eller något annat skoj istället för hårdkod.
  Samma sak gäller för closeModal(), respektive modal stängs mha ng-click.
  -->
              <ion-item class="menu-nav-item item-icon-right" ng-click="openModal(3)" type="item-text-wrap">
                <h2>Om Uniaden</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>

              <ion-item class=" item-icon-right" ng-click="openModal(1)" type="item-text-wrap">
                <h2>Mässguide</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
              <!--Tillfälligt bortaget tills den nya kartan är färdig-->
              <ion-item class=" item-icon-right" ng-click="openModal(2)" type="item-text-wrap">
                <h2>Mässkarta</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-list>

                            <script id="templates/tips.html" type="text/ng-template">
                                <ion-modal-view class="modal">
                                    <!--
                Det går ej att ha bilder i en ion-header-bar, därför har vi ion-nav-bar ist.
                -->
                                    <ion-nav-bar align-title="center">
                                        <ion-nav-buttons side="left">
                                            <button ng-click="closeModal(1)" class="button icon ion-arrow-left-c"></button>
                                        </ion-nav-buttons>
                                        <ion-nav-title>
                                            <img src="img/uniadenLogo.png" class="uniadenHeaderLogo">
                                        </ion-nav-title>
                                    </ion-nav-bar>
                                    <ion-content class="padding has-header">
                                      <!--<div class="card">
  <div class="item item-text-wrap">-->
                                      <div class="item item-image" style="border:none;">
                                        <img src="img/Du_Kan_wht.png">
                                      </div>

                                      <!-- Öpettider -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Mässans öppettider: 09.00-15.00</b> <br />
                                          Till de 100 första besökarna utlovas en välfylld frukostpåse i studentloungen!
                                        </p>
                                      </div>


                                      <!-- Hålltider -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Uniadens hålltider</b><br />

                                          Mässan öppnar: <i>09:00</i> <br />
                                          Insläpp till gästföreläsning: <i>11:30</i> <br />
                                          Gästföreläsning med Nour El Refai: <i>12.00</i> <br />
                                          Mässan stänger: <i>15:00</i> <br />
                                          Bankett eftersläpp: <i>22.15</i>
                                        </p>
                                      </div>

                                      <!-- Studentlounge -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Studentlounge</b> <br />
                                          <b>Öppettider</b>: 09.00-15.00 <br />
                                          <b>Plats</b>: Mitt emot Amigo, nedre plan av Universum
                                        </p>
                                      </div>

                                      <!-- Banketten -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Info om banketten:</b> <br />
                                          För er som har varit engagerad i Uniaden 2018 och som har anmält er till banketten har möjlighet att vara med på den storslagna banketten som sätter punkt för Uniaden 2018!<br /><br />

                                          Datum: 30 januari <br />
                                          Plats: Universum <br />
                                          Insläpp: 18:00, ingång via aula nordica <br />
                                          Klädsel: Mörk kostym <br />
                                          utlovar en magisk kväll!
                                        </p>
                                      </div>

                                      <!-- Afterparty -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Uniaden Afterparty 2018</b> <br />
                                          30/1 klockan 22:15 slår vi upp portarna till årets eftersläpp i Universum; Uniaden Afterparty!<br /><br />
                                          Ingång via Aula Nordica. Inträde 30kr innan kl. 23:00.
                                        </p>
                                      </div>

                                      <!-- Transport -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Persontransport</b> <br />
                                          Under och efter banketten/eftersläppet kommer det finnas möjlighet att få rabatterat pris på EcoTaxi. För att erhålla rabatt på resan så måste ni ladda ner och boka resan via EcoTaxis app.
                                          När ni bokar taxin fyller ni i fältet som heter "kampanj", där fyller ni i rabattkoden ("Uniaden") INNAN ni genomför bokningen.
                                          När ni fyllt i detta fällt och appen godkänt rabattkoden så kommer man per automatik erhålla ett pris när man bokar som är 20% rabatterat mot ordinarie pris.
                                          Appen ger alltid kunden ett fast pris på resan dessutom!
                                        </p>
                                      </div>


                                      <!-- Gästföreläsare -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Gästföreläsare</b> <br />
                                          Ta chansen att bli inspirerad och motiverad av årets välkända gästföreläsare som inte är mindre än Nour El Refai.
                                          Gästföreläsningen börjar kl. 12.00 i Aula Nordica ochkräver ingen föranmälan och är gratis.
                                          Insläppet börjar kl. 11.30 så kom i tid! <br />
                                          <br />
                                          I TV har vi kunnat se Nour i bland annat; Babel, Cirkus Möller
                                          samt som gästreporter i Nyhtesmorgon i TV4. Som skådespelerska har Nour även engagerats för flera filmsuccéer
                                          som Beck och Wallander. I Umeå kommer Nour att berätta om hennes tankar kring vad som är modigt
                                          och inte samt hur man överlever i en mansdominerad bransch som tjej dessutom som ung och utländsk.
                                        </p>
                                      </div>

                                      <!-- Dejta en direktör -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Dejta en direktör</b><br />
                                          Umeå Näringslivsservice och Uniaden ger dig chansen till ett möte som kan ge dig värdefulla tips inför din framtida karriär, eller kanske till och med ett jobb!
                                          Det enda du behöver göra är att fylla i formuläret nedan. Anmäl dig senast den 30 januari 23.59. Vi meddelar alla lyckliga vinnare via mail under början av februari:<br />
                                          <a onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSf2rtXm-0k-TAEYi2rGB-hjdOD9b8JIwdgzmqe1x_MUwmqX7w/viewform?usp=sf_link, ‘_blank’, ‘location=no’);" href="https://docs.google.com/forms/d/e/1FAIpQLSf2rtXm-0k-TAEYi2rGB-hjdOD9b8JIwdgzmqe1x_MUwmqX7w/viewform?usp=sf_link" padding-left>
                                          Ansök här!</a>
                                        </p>
                                      </div>

                                      <!-- Titel -->
                                      <div class="text-center" style="margin-top: 10%">
                                        <h2> Nyheter för 2018! </h2>
                                      </div>

                                      <!-- Startup Valley -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>StartUp Valley</b>
                                          Går du i tankar på att starta eget eller vill du få inspiration? Du kanske själv vill ställa frågor till personer som själv startat eget? Besök då StartUp Valley.
                                          Detta är ett område med enbart nystartade företag där du kan få mer insikt om hur det är att driva eget. I år har vi valt att expandera detta område med fler spännande företag.
                                          StartUp Valley hittar ni på plan 2 i Universum.
                                        </p>
                                      </div>

                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Draknästet</b>
                                          I samarbete med Uminova Innovation, Venture cup och Umeå Näringslivsservice har Uniaden i år
                                          valt att införa en pitchtävling vid namn Draknästet. I draknästet har du chans att få pitcha
                                          din affärsidé framför en jury bestående av olika branschpersoner. Du får här möjligheten att
                                          vara med och få feedback på just din affärsidé. Som en extra bonus har du chansen att vara
                                          med och vinna 5 000 kr.<br />
                                          <br />
                                          Kom ihåg att din affärsidé behöver inte vara färdigutvecklad, men
                                          så länge du har en idé så vill vi gärna höra den! Draknästet kommer att äga rum i mars
                                          , mer information  om kommande event och anmälan till draknästet hittar du inom kort på:
                                          <a "window.open('https://www.instagram.com/event/, ‘_blank’, ‘location=no’);" href="http://www.uniaden.com/event/">uniaden.com/event</a>
                                        </p>
                                      </div>


                                      <!-- Miljömärkt -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Miljömärkt Event</b> <br />
                                          Som ett steg för att vara ett hållbart event så har vi på Uniaden i år arbetat för att bli miljöcertifierade av Håll Sverige Rent. Arbetet har resulterat
                                          i att Uniaden 2018 uppfyller de kriterier för att vara ett miljömärkt event. Vi har därför några enkla knep för att kunna bidra till ett mer klimatsmart Sverige:<br /><br />

                                          Ta cykeln alternativt att gå istället för att ta bilen.<br />
                                          Börja källsortera.<br />
                                          Ät vegetariskt samt välj närproducerade och lokala produkter.<br />
                                          Drick kranvatten och inte vatten på flaska.<br />
                                          Stäng av lyset när du inte behöver ha det tänt.
                                        </p>
                                      </div>

                                      <!-- Årets Tema -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Årets Tema</b> <br />
                                          Temat för årets Uniaden är ”DU KAN”. Temat ska återspegla varje individs potential i samhället.
                                          Vi vill med årets tema poängtera att du som individ kan uppnå de drömmar och visioner du har,
                                          oavsett hur små eller stora de är. Med årets tema vill vi även påpeka att livet till stor del
                                          handlar om att våga testa nya saker, våga utmana sig själv och sin comfort-zone samt att
                                          våga misslyckas. Alla dessa delar tror vi är viktig för att man ska kunna utveckla sig själv
                                          till att bli den individ som man vill vara. Vi vet att varje individ kan utveckla sig själv
                                          bara man vill. Årets tema för i år är därför….DU KAN!
                                        </p>
                                      </div>


                                      <!-- Titel -->
                                      <div class="text-center" style="margin-top: 10%">
                                        <h2> Tips under ditt mässbesök: </h2>
                                      </div>

                                      <!-- Nyckelband -->
                                      <div class="item item-text-wrap">
                                        <p>
                                          <b>Stifta bekantskap med Uniadens nyckelband</b> <br />
                                          När du kliver in på mässområdet så kommer du att välkomnas av våra entrévärdar. Entrévärdarna kommer att dela ut ett nyckelband till dig med en specifik färg. Den färg på nyckelbandet du får tilldelad speglar det område du studerar inom.<br /><br />
                                          Även företagen kommer att vara färgkodade på mässområdet. Färgkodningen av mässan gör det enklare för dig som besökare att se vilka företag som är intresserade av just den kompetens som du besitter.<br />
                                        </p>
                                        <div>
                                          <div class="programmeSquare color-Ekonomi">
                                            <p>Ekonomi</p>
                                          </div>
                                          <div class="programmeSquare color-Teknik">
                                            <p>Teknik</p>
                                          </div>
                                          <div class="programmeSquare color-IT">
                                            <p>IT-Media-Design</p>
                                          </div>
                                          <div class="programmeSquare color-Natur">
                                            <p>Naturvetenskap</p>
                                          </div>
                                          <div class="programmeSquare color-HRM">
                                            <p>HR Management</p>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- Garderob -->
                                      <div class="item item-text-wrap" style="margin-bottom: 20%";>
                                        <p>
                                          <b>Utnyttja garderoben</b> <br />
                                          Det må vara vinterkyla utomhus under mässdagen. Men vi på Uniaden kan garantera er värme inne på mässområdet. Vi föreslår därför att du passar på att utnyttja vår garderob vid entrén till Aula Nordica så att du kan koncentrera dig på det du kom hit för att göra. Nämligen knyta kontakter och marknadsföra dig själv!
                                        </p>
                                      </div>

                                      <p style="text-align: center;">
                                        <b>Träffa våra ägarföreningar i studentloungen</b>
                                      </p>
                                      <div style="width:100%; display: flex; flex-flow: nowrap; flex-direction: row; justify-content: space-around; align-items: center; margin-bottom: 5%;">
                                        <div class="item item-image" style="float:left; width: 46%; border:none; vertical-align: middle; padding:3%;">
                                          <img src="img/NTK_logotyp.png">
                                        </div>
                                        <div class="item item-image" style="float:right; width: 46%; border:none; vertical-align: middle; padding:3%;">
                                          <img src="img/hhus_logotyp.jpg">
                                        </div>
                                      </div>
                                      <div style="width:100%; display: flex; flex-flow: nowrap; flex-direction: row; justify-content: space-around; align-items: center; margin-bottom: 5%;">
                                        <div class="item item-image" style="float:left; width: 46%; border:none; vertical-align: middle; padding:3%;">
                                          <img src="img/plum_logotyp.jpg">
                                        </div>
                                        <div class="item item-image" style="float:right; width: 46%; border:none; vertical-align: middle; padding:3%;">
                                          <img src="img/umsys_logotyp.png">
                                        </div>
                                      </div>
                                    </ion-content>
                                </ion-modal-view>
                            </script>

                             <script id="templates/map.html" type="text/ng-template">
                                <ion-modal-view class="modal">
                                    <ion-nav-bar align-title="center">
                                        <ion-nav-buttons side="left">
                                            <button ng-click="closeModal(2)" class="button icon ion-arrow-left-c"></button>
                                        </ion-nav-buttons>
                                        <ion-nav-title>
                                            <img src="img/uniadenLogo.png" class="uniadenHeaderLogo">
                                        </ion-nav-title>
                                    </ion-nav-bar>
                                    <ion-content class="padding has-header">
                                        <ion-scroll id="mapImage"
                                                    zooming="true"
                                                    direction="xy"
                                                    class="zoom-pane"
                                                    delegate-handle="zoom-pane"
                                                    min-zoom="0.1"
                                                    max-zoom="20"
                                                    overflow-scroll="false">
                                          <img src="img/Mässkartan.png" style="overflow: visible;">
                                        </ion-scroll>
                                    </ion-content>
                                </ion-modal-view>
                            </script>

                            <script id="templates/club.html" type="text/ng-template">
                                <ion-modal-view class="modal">
                                    <ion-nav-bar align-title="center">
                                        <ion-nav-buttons side="left">
                                            <button ng-click="closeModal(3)" class="button icon ion-arrow-left-c"></button>
                                        </ion-nav-buttons>
                                        <ion-nav-title>
                                            <img src="img/uniadenLogo.png" class="uniadenHeaderLogo">
                                        </ion-nav-title>
                                    </ion-nav-bar>
                                    <ion-content class="padding has-header">
                                        <div class="card">
                                          <div class="item item-text-wrap">
                                              <p>
                                                <b>Vad är Uniaden?</b><br />
                                              </p>
                                              <p> Uniaden är namnet på Sveriges bredaste arbetsmarknadsdag som årligen arrangeras vid Umeå universitet. Syftet med Uniaden är att utgöra en mötesplats för studenter och näringslivet. Studenterna får här under sin utbildningstid möjlighet att utforska vilka möjligheter som finns efter avslutad utbildning, möjligheter för exjobb, uppsatsskrivande, sommarjobb etc.</p>
                                              <p>Vår ambition är att studenterna ska få utöka sitt nätverk under studietiden samt att få upp ögonen för vilka möjligheter som finns efter avslutad utbildning. Uniadens arrangerar årligen en arbetsmarknadsdag som går av stapeln vecka 5 i januari varje år.</p>
                                              <p>Utöver mässdagen arrangerar Uniaden tillsammans med intressanta företag ett flertal event, inspirerande gästföreläsningar, studiebesök och hackathon under hösten där studenter vid Umeå universitet får chansen att komma i kontakt med intressanta företag och organisationer.</p>
                                          </div>
                                        </div>
                                    </ion-content>
                                </ion-modal-view>
                            </script>
</ion-content>
</ion-view>
