<ion-view>
  <ion-nav-bar>
    <ion-nav-title>
      <img src="img/uniadenLogo.png" class="uniadenHeaderLogo">
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <ion-list>

      <!--
      Funktionen ng-repeat loopar igenom json-filen med alla företag.
      I json-filen ligger alla utställande företag med variabelnamnet _models och companyData
      är namnet på json-arrayen inne i appen. Se på rad 58 i controllers.
      -->

      <ion-item class="item-thumbnail-left" ng-repeat="company in companyData._models | orderBy:'name'" ng-click="openDetails(company.id)" type="item-text-wrap">
        <img src="http://a.jexpo.se/uniaden{{company.profile.logotype.thumbnails[1]._url}}">
        <h2 style="margin-top:2%;">{{ company.name }}</h2>
        <p>{{ company.profile.aboutUs }}</p>
        <!--
        Alla programfärger ligger i ionic.app.scss.
        Klassen programmeLineForCatalog har opacity:0.1;
        Klassen desiresProgramme ställer opacity till 1 när indexOf-funktionen
        returnernar ett sant värde.
        -->
        <div class="row programmeColors">
          <div class="col programmeLineForCatalog color-Ekonomi" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Ekonomi') != -1}"></div>
          <div class="col programmeLineForCatalog color-IT" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('IT-Media-Design') != -1}"></div>
          <div class="col programmeLineForCatalog color-Teknik" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Teknik') != -1}"></div>
          <div class="col programmeLineForCatalog color-Natur" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Naturvetenskap') != -1}"></div>
          <div class="col programmeLineForCatalog color-HRM" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('HRM') != -1}"></div>
        </div>
      </ion-item>
    </ion-list>

    <!--
    Nedan är koden för detaljvyn.
    Detaljvyn öppnas i appen som en "modal", vilket är en ruta som lägger sig över
    katalogen.
    -->
    <script id="templates/details-modal.html" type="text/ng-template">
      <ion-modal-view class="modal">
        <ion-header-bar align-title="middle" class="bar-energized">

          <button ng-click="closeModal()" class="button icon ion-arrow-left-c"></button>
          <h1 class="title" style="font-family: Roboto; font-weight:400; ">{{company.name}}</h1>

        </ion-header-bar>

        <ion-content class="padding">

          <div class="card">
            <img class="detailsImages" src="http://a.jexpo.se/uniaden{{company.profile.logotype.thumbnails[0]._url}}">

            <div class="row" style="margin-bottom:2%;">
              <!--Samma lösning som innan för att fylla programfärger-->
              <div class="col programmeLineForCatalog color-Ekonomi" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Ekonomi') != -1}"></div>
              <div class="col programmeLineForCatalog color-IT" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('IT-Media-Design') != -1}"></div>
              <div class="col programmeLineForCatalog color-Teknik" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Teknik') != -1}"></div>
              <div class="col programmeLineForCatalog color-Natur" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('Naturvetenskap') != -1}"></div>
              <div class="col programmeLineForCatalog color-HRM" ng-class="{desiresProgramme: company.profile.desiredProgramme.indexOf('HRM') != -1}"></div>
            </div>

            <div class="details">
              <div class="row">
                <div class="col" style="text-align:center">
                  <h2>Vi erbjuder</h2>
                  <div ng-repeat="offer in company.profile.weOffer">
                    {{offer}}
                  </div>
                </div>
                <div class="col" style="text-align:center">
                  <h2>Zon</h2>
                  <p>{{company.exhibition.stand_day1}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="details">
            <h2>Om oss</h2>
            <p>{{ company.profile.aboutUs }}</p>
            <h2>Varför besöka oss?</h2>
            <p>{{ company.profile.whyUs }}</p>
            <h2>Visste du detta?</h2>
            <p>{{ company.profile.didYouKnow }}</p>
            <!--
            Overridar width:50% med 100% för annonsen.
            -->
            <img class="detailsImages" style="width:100%;" src="http://a.jexpo.se/uniaden{{company.profile.ad.thumbnails[0]._url}}">
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
