.scroll-content {
  overflow-y: hidden;
}

/*div{ //Debugging reasons
     border: 1px dashed #f69c55;
}*/

.ion-background {
    background-image: url('/assets/imgs/Logg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    padding: 0 0 0 0;
}

.padderino {
  height: 60%;
}

button {
   padding: 10px 10px 10px 5px;
   width: 100%;
   background-color: #D83128;
   color: white;
}
