.ion-background {
    background-image: url('/assets/imgs/Logg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position:20% 80%;
}

.button-md{
   padding: 5% 20% 5% 20%;
}

ion-col div {
  text-align: center;
}

p {
  padding: 10px 0 0 10px !important;
  margin: 0;
}

.bottom-aligned{
   position: absolute;
   bottom: 5%;
   width: 100%;
}
